---
import { cn } from '@/lib/utils';

interface Props {
  name: string;
  subtitle: string;
  avatarUrl?: string;
}

const { name, subtitle, avatarUrl } = Astro.props;

const squareSize = 96;

const styles = {
  box: 'flex justify-between gap-[3vw]',
  image: {
    root: 'mt-4 shrink-0 md:ml-6 md:mt-0 text-center',
    border: cn('size-24 border border-white', 'inline-block overflow-hidden rounded-full')
  }
};
---
<section class={styles.box}>
  <div class="shrink-1">
    <h2 class="text-2xl">{name}</h2>
    <p>{subtitle}</p>
  </div>
    {avatarUrl && (
    <div class={styles.image.root}>
      <div class={styles.image.border}>
        <img
          src={avatarUrl}
          alt={`${name}'s avatar`}
          width={squareSize}
          height={squareSize}
          class="h-full w-full rounded-full object-cover"

        />
      </div>
    </div>
  )}
</section>
