---
import type { IExperience } from '@/lib/types';
import { getSorter } from '@/lib/utils';
import SectionTitle from '@/components/ui/SectionTitle.astro';

interface Props {
  experiences: IExperience[];
}

const { experiences } = Astro.props;
experiences.sort(getSorter('year'));

const styles = {
  item: 'gap-.25 mt-2 flex flex-col md:flex-row md:gap-3.5',
  year: 'm-0 font-bold sm:pb-0 md:mb-5',
  comment: {
    list: 'flex flex-col gap-1 contrast-75 hover:contrast-200',
    item: 'text-justify leading-tight hover:animate-pulse md:leading-normal',
  },
};
---

<div>
  <SectionTitle>Stuff I've done</SectionTitle>
  {
    experiences.map((experience) => (
      <div class={styles.item}>
        <div class={styles.year}>{experience.year}</div>
        <div class={styles.comment.list}>
          {experience.comments.map((comment) => (
            <span class={styles.comment.item}>{comment}.</span>
          ))}
        </div>
      </div>
    ))
  }
</div>
