---
import type { ISocialItem } from '@/lib/types';
import { cn } from '@/lib/utils';

interface Props {
  socials: ISocialItem[];
}

const { socials } = Astro.props;

const styles = {
  root: 'grid grid-cols-2 gap-4 justify-items-center justify-content-center',
  link: cn(
    'flex items-center justify-start',
    'text-teal-800 dark:text-teal-200',
    'hover:bg-sky-200 hover:dark:bg-sky-800',
    'hover:underline',
    'rounded px-2 py-1 text-2xl'
  ),
  icon: 'mr-2 min-w-[10px]',
  label: 'w-full text-center',
};
---

<div class={styles.root}>
  {
    socials.map((socialItem) => (
      <a href={socialItem.url} target="_blank" rel="noopener noreferrer" class={styles.link}>
        <socialItem.icon className={styles.icon} />
        <span class={styles.label}>{socialItem.label}</span>
      </a>
    ))
  }
</div>
